[Unit]
Description=Daemon Test HTTP API Service

[Service]

ExecStart=[path to project directory]/venv/bin/python3 [path to project directory]/main.py --serve-in-foreground

Restart=on-failure
RestartSec=5

Type=notify

User=root

[Install]

WantedBy=multi-user.target
